/* Give your page a fun background color */
body{
    background-color: bisque;
}
/* Make the header and footer a different color from the background */
h1 {
    border: 3px; solid red;
    text-align: center;
}
/* Align the h1 containing your name in the center of the header*/

/* Make your p tag a different color and italic */

/* Put a border around your image */
#bordering{
    border: 10px solid;
    padding: 15px;
    border-image: url(images/me.jpeg) 30 round;
}
/* Change the font-family of your list */
.center{
    font-display: block;
    margin-left: 425px;
    margin-right: 10px;

}

.grid-container{
    display: grid;
}


.grid-item1{ border: solid
    text-align: center;
font: 15px Arial, Sans-Serif
font-style: italic 
}
.header {
    background-color: black;
}

h1 {
    color: #1a53ff;
}


.grid-item2{ border: solid;
    text-align: center;
    font: 15px Arial, Sans-Serif
    font-style: italic
    padding

}

.grid-item2 div ul {
    list-style-type: none;
}


}

.grid-item3{ <!-- border: solid; -->
    text-align: center;
    font: 15px Arial, Sans-Serif
    font-style: italic
     background-color: black;
}

.header{
    background-color: black;
    color: aliceblue;
    text-align: center;
}
.footer{
    background-color: black;
    text-align: center;
    color: aquamarine;
    font-style: italic;
}